.settings/
**/META-INF/
bin/
.project
.classpath
**/target/
**/*.bak
**/*.versionsBackup
data/integration-tests/logs
build/
.idea/
.metadata/
*.swp
*.iml
tm/tm.web/logs/
integration-tests/log/IT.log
integration-tests/src/it/resources/log4j.properties
tm/tm.web/node_modules/
tm/data/
tm/tomcat-work§
tm/tm.web/src/main/resources/config/application-jth_mysql.properties
tm/tm.web/src/main/resources/config/application-jth_h2.properties
tm/tm.web/src/main/resources/config/application-jlo_mysql.properties
tm/tm.web/src/main/resources/config/application-jpr_mysql.properties
tm/tm.web/src/main/resources/config/application-jpr_postgresql.properties
tm/tm.web/src/main/resources/config/application-mah_postgresql.properties
tm/tm.web/src/main/resources/config/application-jlo_postgresql.properties
tm/tm.web/src/main/resources/config/application-cho_mysql.properties
tm/tm.web/src/main/resources/config/application-jth.properties
tm/tm.web/src/main/resources/config/application-zya_mysql.properties
tm/tm.web/src/main/resources/config/application-bfl_postgresql.properties
tm/tm.web/src/main/resources/config/application-bfl_mysql.properties
tm/tm.web/src/main/resources/config/application-agu_postgresql.properties
tm/tm.web/src/main/resources/config/application-agu_mysql.properties
tm/tm.web/src/main/resources/config/application-cho_postgresql.properties
tm/tm.web/src/main/resources/config/application-cho.properties
tm/tm.web/src/main/resources/config/application-zya_postgresql.properties
tm/tm.web/src/main/resources/config/application-mah_mysql.properties
tm/tm.web/src/main/resources/config/application-abo_mysql.properties
tm/tm.web/src/main/resources/config/application-ak_mysql.properties
tm/tm.web/src/main/resources/config/application-ak_postgresql.properties
tm/tm.web/src/main/resources/config/application-mqt_postgresql.properties
tm/tm.web/src/main/resources/config/application-mqt_mysql.properties
tm/tm.web/node